@charset "utf-8";
/* Simplify width and height calculations */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    color: #4B4B4B;
    font-family: source-sans-pro;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    background-color: #EFF5F8;
}
#wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    background-color: white;
}
h1, h2 {
    color: #1E1E1E;
    font-style: normal;
    font-weight: 400;
}
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    margin-top: 0.5em;
    font-size: 2.25em;
}
a {
    font-weight: bold;
    text-decoration: none;
}
a:link {
    color: #F68979;
}
a:visited {
    color: #FF944C;
}
a:hover, a:active, a:focus {
    color: #7F3300;
    text-decoration: underline;
}
#menulink {
    background-color: #1E1E1E;
    margin: 0;
    text-align: center;
}
#menulink a {
    color: white;
    font-size: 0.7em;
    text-transform: uppercase;
    /* [disabled]display: block;
*/
    font-weight: 200;
    text-decoration: none;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}
#navlinks {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #000000;
    background-color: rgba(0,0,0,0.65);
    position: absolute;
    -webkit-transition: all ease-out 0.5s;
    transition: all ease-out 0.5s;
}
#navlinks.displayed {
    top: 135px;
    z-index: 1;
    opacity: 1;
}
#navlinks.start {
    display: none;
}
#navlinks.collapsed {
    top: -12em;
    opacity: 0;
}



#navlinks a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}
#navlinks a:hover, #navlinks a:active, #navlinks a:focus, #navlinks a.thispage {
	color: #F68979;
}


main, aside {
    margin-left: 4%;
    margin-right: 4%;
}
#hero img {
    max-width: 100%;
    display: block;
}
#hero p {
    color: #F68979;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 20px;
    margin-top: 10px;
}
figure {
    width: 400px;
    max-width: 92%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
figure img {
    max-width: 100%;
}
figcaption {
    display: block;
    margin-top: 0.5em;
    font-size: 0.75em;
    text-transform: uppercase;
}
.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.grayscale:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1E1E1E;
    color: white;
    font-size: 0.8em;
    text-align: center;
}
